@import url("resource:///org/gnome/theme/gnome-shell.css");

stage { font-size: 11pt; font-family: Ubuntu, Cantarell, Sans-Serif; color: #FFFFFF; }

#panel StLabel { font-weight: normal; color: #FFFFFF }

